Downloading/unpacking freeze
  Downloading freeze-1.0.9.tar.gz
  Running setup.py (path:/home/nitrous/.virtualenvs/club_lax/build/freeze/setup.py) egg_info for package freeze
    Installing with cython
    
    Installing without cython
    
    
Downloading/unpacking six (from freeze)
  Downloading six-1.10.0-py2.py3-none-any.whl
Installing collected packages: freeze, six
  Running setup.py install for freeze
    Installing with cython
    
    Installing without cython
    
    
Successfully installed freeze six
Cleaning up...
