{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron">
  <h1> Roster</h1>
  <p> 2016 Sleeping Giants                            </p>
  <p>                             </p>
<p>Name and Number</p>
  <p>                            </p>
</div>
<div class = "container">
<p>Alex Collins_____________4</p>
<p>Ben Hagen_____________5</p>
<p>Billy Doherty___________20</p>
<p>Chris Delvecchio_________24</p>
<p>Chris Noll______________8</p>
<p>Craig Mattson___________2</p>
<p>David Quinn____________57</p>
<p>Dylan Debonis__________92</p>
<p>Dylan Ix_______________97</p>
<p>Eric Fernandes__________22</p>
<p>Forest Chicoine_________95</p>
<p>Frank Mongiello________31</p>
<p>Ivan Matson____________41</p>
<p>Jake Sal_______________27</p>
<p>James Mackonochie______14</p>
<p>Jared Kevelson_________17</p>
<p>Jaxon Powers___________10</p>
<p>Joe Christman__________11</p>
<p>Joe Portella___________96</p>
<p>John Spade______________3</p>
<p>John Whelan____________44</p>
<p>Justin Canzano__________6</p>
<p>Liam Richards__________79</p>
<p>Matt Collins___________36</p>
<p>Matt Zeterberg_________71</p>
<p>Matt Zurek_____________26</p>
<p>Michael Mackonochie_____7</p>
<p>Mike Friedman__________68</p>
<p>Mike Zimnoch___________55</p>
<p>Pete Zygadlo___________33</p>
<p>Ray Nyhuis_____________21</p>
<p>Sean Feeney____________32</p>
<p>Tommy Keller___________23</p>
<p>Tommy Pearce___________56</p>
<p>Tyler Nelson___________12</p>
</div>
{% else %}
<div class="jumbotron">
  <h1>Welcome to Sleeping Giants Lacrosse</h1>
  <p>The offical website of the Sleeping Giants Lacrosse Club!</p>
  <p><a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">Create Account</a></p>
</div>
{% endif %}
{% endblock %}






